extends ../main

block variables
    - var title = 'Контакты'

block content
    main.contacts
        //- bread
        .bread
            .container
                a(href='/').bread__item Главная&nbsp;&nbsp;/&nbsp;&nbsp;
                span.bread__item.active Контакты


        //- main
        section.contacts__main
            .container
                //- title
                .title.contacts__title Контакты

                //- row
                .row.contacts__row
                    //- left
                    .contacts__left
                        .contacts__map.map
                            iframe(src="https://snazzymaps.com/embed/198694")

                    //- right
                    .contacts__right
                        .contacts__txt Мы находимся около станции метро Проспект Мира
                        .contacts__list
                            each i in contactsList
                                div(class='contacts__list-col_' + i.cls).contacts__list-col
                                    each j in i.list
                                        a(href=j.href class=j.dopClass).contacts__item
                                            +icon(j.icon,'contacts__item-svg')
                                            span.contacts__item-txt= j.val

        //- feed
        section.contacts__feed
            .cfeed
                //- bg
                .cfeed__bg
                    .container
                        .row
                            .cfeed__bg-left
                                .cfeed__img
                                    +image('images/content/contacts/bg.png','','cfeed__img-img')
                //- form
                .container
                    .row
                        form.cfeed__form
                            .cfeed__wrap
                                .cfeed__title написать нам

                                .cfeed__fields
                                    .row
                                        .cfeed__field
                                            .cfeed__field-title *Как к вам обращаться?
                                            input(type='text' name='name' placeholder='Например Иван Иванов').cfeed__input
                                        .cfeed__field
                                            .cfeed__field-title Электронная почта
                                            input(type='email' name='email' placeholder='ivanov@mail.ru').cfeed__input
                                        .cfeed__field.cfeed__field_2
                                            .cfeed__field-title Комментарий
                                            textarea(name='area' placeholder='Ваше сообщение').cfeed__input.cfeed__input_area
                                button(type='submit').btn5.cfeed__submit
                                    span.btn5__txt отправить


        //- list
        section.contacts__advs
            .container
                .cadvs__list
                    each i,x in ['Прямая поставка <br> из теплиц','Быстрая доставка','Индивидуальный <br> подход']
                        .cadvs__item
                            .cadvs__item-block
                                .cadvs__item-wrap
                                    .cadvs__item-img
                                        +image('images/content/order/' + (x + 1) + '.svg','','cadvs__item-pic')
                            .cadvs__item-title!=i






































