extends ../main

block variables
    - var title = 'Главная'

block content
    main.index
        //- banner
        section(style='background-image:url(/images/content/index/banner/bg.png)').index__banner.ibanner
            .container
                .row
                    .ibanner__wrap
                        //- img
                        .ibanner__img
                            +image('images/content/index/banner/img.png','','ibanner__pic')
                        //- content
                        .ibanner__content
                            .ibanner__title
                                | Доставка свежих
                                br
                                | цветов и подарков
                            .ibanner__sub в Москве и области
                            a(href='#').btn2.ibanner__btn
                                +image('images/icons/flowers.png','','btn2__img')
                                span.btn2__txt Подобрать букет
                        //- list
                        .ibanner__list
                            each i,x in ['Прямая поставка <br> из теплиц','Быстрая доставка','Индивидуальный <br> подход']
                                .ibanner__item
                                    .ibanner__item-block
                                        .ibanner__item-wrap
                                            .ibanner__item-img
                                                +image('images/content/index/banner/' + (x + 1) + '.svg','','ibanner__item-pic')
                                    .ibanner__item-title!=i
        //- pop
        section.index__pop
            form.ipop
                .container
                    //- title
                    .ipop__title Популярные букеты
                    //- filters
                    .ipop__filters
                        +filters
                    //- items
                    .ipop__items.catalog__items
                        .row
                            each i,x in indexPop
                                .ipop__item.catalog__item
                                    +item(i.icon,i.src,i.title)
                    //- more
                    button(type='button').ipop__more.btn3
                        +icon('load', 'btn3__img')
                        span.btn3__txt Загрузить еще (15)
        //- gifts
        section.index__gifts
            +slider('Популярные подарки')
        //- feed
        section.index__feed
            .container
                +feed('Не нашли идеальный букет в каталоге?','Оставьте заявку, мы перезвоним и придумаем для вас авторский букет!', 'btn4')
        //- wow
        section.index__wow
            .iwow
                //- img
                .iwow__img
                    +image('images/content/index/wow/img.png','','iwow__img-img')
                .container
                    .iwow__list
                        .iwow__row
                            .iwow__item
                                .iwow__item-img
                                    +image('images/content/index/wow/1.png','','iwow__item-pic')
                                    a(href='product.html').iwow__link.btn4
                                        span.btn4__txt хочу такой букет
                            .iwow__item
                                .iwow__item-img
                                    +image('images/content/index/wow/2.png','','iwow__item-pic')
                                    a(href='product.html').iwow__link.btn4
                                        span.btn4__txt хочу такой букет

                        .iwow__row
                            .iwow__item
                                .iwow__item-img
                                    +image('images/content/index/wow/3.png','','iwow__item-pic')
                                    a(href='product.html').iwow__link.btn4
                                        span.btn4__txt хочу такой букет
                            .iwow__item
                                .iwow__item-title
                                    | Доставленные букеты
                                    | для наших счастливчиков
                                .iwow__item-img
                                    +image('images/content/index/wow/4.png','','iwow__item-pic')
                                    a(href='product.html').iwow__link.btn4
                                        span.btn4__txt хочу такой букет
        //- bottom
        section.index__bottom
            .ibottom
                .container
                    .ibottom__row
                        each col in ibottom
                            .ibottom__col
                                //- title
                                div(class='ibottom__title_' + col.title.cls).ibottom__title= col.title.val

                                //- list
                                .ibottom__list
                                    .row
                                        each i in col.list
                                            a(href='article.html').ibottom__item
                                                span.ibottom__item-top
                                                    +image(i.src,'','ibottom__item-img')
                                                span.ibottom__item-bottom
                                                    span.ibottom__item-title= i.title
                                                    span.ibottom__item-txt
                                                        | 14 февраля – прекрасный праздник, который отмечают влюбленные во многих странах...
                                                    span.ibottom__item-date 25 мая

                                //- link
                                a(href='news.html' class='link_' + col.title.cls).ibottom__link.link= col.link





























