.btn {
  width: 228px;
  height: 57px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1.5px 0 #b99e38, 0px 10px 9px -3px rgba($black, 0.6);
  background-color: $y2;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  @include tr;

  &:after{
    content: '';
    display: block;
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("/images/bg/pattern.svg");
    background-position: 0 0;
    opacity: .5;
    @include tr;
  }

  &__img {
    position: relative;
    z-index: 20;
    margin-right: 0;
    margin-top: 3px;
  }

  &__txt{
    position: relative;
    z-index: 20;
    color: $text2;
    font-weight: 600;
    font-size: 16px;
    @include tr;
  }

  &:hover {
    background-color: $red;
    box-shadow: 0 3px 0 #af1132, 0px 10px 9px -3px rgba($black, 0.6);

    &:after{
      opacity: 0.25;
    }

    .btn {
      &__txt{
        color: $bg;
      }
    }
  }
}

.btn2 {
  width: 325px;
  height: 72px;
  border-radius: 40px;
  background-color: $purple2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 0 #42167e, 0px 20px 9px -10px rgba($black, 0.6);
  cursor: pointer;
  @include tr;

  &:after{
    content: '';
    display: block;
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("/images/bg/pattern.svg");
    background-position: 0 0;
    opacity: .25;
    border-radius: 40px;
    @include tr;
  }

  &__img {
    position: absolute;
    left: 22px;
    bottom: 5px;
  }

  &__txt{
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
    color: $bg;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 72px;
    margin-top: 3px;
    @include tr;
  }

  &:hover{
    background-color: $y2;
    box-shadow: 0 3px 0 #b99e38, 0px 20px 9px -10px rgba($black, 0.6);

    &:after{
      opacity: 0.5;
    }

    .btn2 {
      &__txt{
        color: $text2;
      }
    }
  }
}

.btn3 {
  width: 243px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  border: 1px solid $purple5;
  cursor: pointer;
  @include tr;

  &__img{
    width: 18px;
    height: 18px;
    fill: $purple5;
    margin-right: 12px;
    @include tr;
  }

  &__txt{
    color: $purple5;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    @include tr;
  }

  &:hover {
    box-shadow: 0 3px 0 #AF1132;
    background-color: $red;
    border-color: $red;

    .btn3{
      &__img {
        fill: $bg;
      }

      &__txt{
        color: $bg;
      }
    }
  }


}

.btn4 {
  width: 341px;
  height: 66px;
  border-radius: 40px;
  background-color: $y2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 3px 0 #b99e38, 0px 20px 9px -10px rgba($black, 0.6);
  cursor: pointer;
  @include tr;

  &:hover{
    background-color: $red;
    box-shadow: 0 3px 0 #af1132, 0px 20px 9px -10px rgba($black, 0.6);

    &:after{
      opacity: 0.25;
    }

    .btn4 {
      &__txt{
        color: $bg;
      }

      &__pic{
        display: none;
        &_h{
          display: block;
        }
      }

      &__count {
        border: 1px solid $bg;
      }
    }
  }

  &:after{
    content: '';
    display: block;
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("/images/bg/pattern.svg");
    background-position: 0 0;
    opacity: .5;
    border-radius: 40px;
    @include tr;
  }

  &_r{
    background-color: $red;
    box-shadow: 0 3px 0 #af1132, 0px 20px 9px -10px rgba($black, 0.6);

    .btn4__txt{
      color: $bg;
    }

    &:after{
      opacity: 0.25;
    }

    &:hover{
      box-shadow: 0 3px 0 #b99e38, 0px 20px 9px -10px rgba($black, 0.6);
      background-color: $y2;

      .btn4__txt{
        color: $text2;

      }

      &:after{
        opacity: .5;
      }
    }
  }

  &__img {
    margin-right: 14px;
    position: relative;
    z-index: 20;
  }

  &__pic{
    display: block;

    &_h{
      display: none;
    }
  }

  &__count{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid $y5;
    background-color: $red;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: $bg;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;

    position: absolute;
    right: -8px;
    bottom: -3px;
  }

  &__txt{
    color: $text2;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 3px;
    position: relative;
    z-index: 20;
    @include tr;
  }


}

.btn5 {
  width: 243px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background: $red;
  box-shadow: 0 3px 0 #AF1132, 0px 10px 9px -3px rgba($black, 0.6);;
  cursor: pointer;
  @include tr;

  &__img{
    width: 18px;
    height: 18px;
    fill: $bg;
    margin-right: 12px;
    @include tr;
  }

  &__txt{
    color: $bg;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    @include tr;
  }

  &:hover {
    box-shadow: 0 1.5px 0 #b99e38, 0px 10px 9px -3px rgba($black, 0.6);
    background-color: $y2;

    .btn5{
      &__img {
        fill: $text2;
      }

      &__txt{
        color: $text2;
      }
    }
  }


}

.btn6{
  display: flex;
  align-items: center;
  border-bottom: 3px dotted $text2;
  padding-bottom: 3px;
  @include tr;

  &:hover{
    border-color: $purple3;
    .btn6{
      &__svg{
        fill: $purple3;
      }
      &__txt{
        color: $purple3;
      }
    }
  }

  &__svg{
    width: 13px;
    height: 13px;
    fill: $text2;
    margin-right: 10px;
    @include tr;
  }

  &__txt{
    color: $text2;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.socials{
  display: flex;
  align-items: center;
}

.social{
  margin-right: 22px;
  @include tr;
  &:last-child{
    margin-right: 0;
  }

  &:hover{
    @include op;
  }
}

.tel{
  color: $red;
  font-size: 24px;
  font-weight: 700;
  line-height: lh(24,33.6);
  @include tr;

  &:hover{
    @include op;
  }

  &_g {
    text-shadow: 0 1px 0 #fff964;
    color: $purple3;
    font-size: 25px;
    font-weight: 700;
  }
}

.link{
  color: $purple3;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 3px dotted $purple3;
  padding-bottom: 5px;
  @include tr;

  &:hover{
    color: $red;
    border-color: $red;
  }

  &_white{
    color: $bg;
    border-color: $bg;

    &:hover{
      color: $y2;
      border-color: $y2;
    }
  }
}

.bread{
  padding: 55px 0 20px 0;
  &__item{
    color: $text;
    font-size: 14px;
    &.active{
      color: #b19b9b;
    }
  }
}

.title{
  font-size: 46px;
  font-weight: 700;
  line-height: lh(46,59.8);
  text-transform: uppercase;
  background: linear-gradient(to right, #FE5B3A 0%, #8F43FE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.slider {
  padding-top: 420px;
  padding-bottom: 115px;
  margin-top: -380px;
  background-image: url("/images/content/slider/bg.jpg");
  background-position: 45% 0;
  background-repeat: no-repeat;

  &_2{
    background-image: url("/images/content/slider/bg2.png");
    padding-top: 295px;
    .slider__text{
      width: 166px;
      font-size: 24px;
    }
  }

  &__top {
    display: flex;
    align-items: flex-end;
    margin-bottom: 40px;
  }

  &__title {
    display: flex;
    align-items: flex-end;
    margin-right: 50px;

    &-img {
      position: relative;
      z-index: 2;
    }

    &-txt {
      height: 80px;
      border: 1px solid $bg;
      border-radius: 102px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-left: none;

      color: $bg;
      font-size: 46px;
      font-weight: 700;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      padding-left: 35px;
      padding-right: 45px;
      margin-left: -8px;
      margin-bottom: 10px;

    }
  }

  &__text {
    width: 299px;
    color: $bg;
    font-size: 30px;
    line-height: lh(30, 36);
    margin-bottom: 10px;
  }

  &__container {
    padding-bottom: 250px;
    margin-bottom: -215px;
    pointer-events: none;
  }

  &__slide {
    box-sizing: border-box;
    pointer-events: initial;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 65px;
  }

  &__arr {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    @include tr;

    &:hover {
      .slider__arr-svg {
        fill: $y2;
      }
    }

    &-svg {
      width: 46px;
      height: 46px;
      fill: $bg;
      @include tr;
    }
  }

  &__scrollbar {
    width: 599px;
    height: 32px;
    border-radius: 54px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.4);
    margin: 0 24px;
    padding: 3px;

    .swiper-scrollbar {
      background: none;
    }

    .swiper-scrollbar-drag {
      width: 109px;
      height: 24px;
      padding: 4px;
      border-radius: 64px;
      background-image: linear-gradient(180deg, $y1 0%, $y2 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:before {
        content: '';
        display: block;
        width: 9px;
        height: 14px;
        background: url(/images/icons/lines.svg) 0 0 no-repeat;
      }
    }
  }

  &__look {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
  }

  &__link {
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 5px;

    &:hover {
      &:after {
        opacity: 0;
      }

      &:before {
        opacity: 1;
      }

      .slider__link {
        &-title {
          color: $red;
        }

        &-svg {
          fill: $red;
        }
      }
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: 3px;
      background: url("/images/bg/line-p.png") 0 0;
      opacity: 1;
      @include tr;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: 3px;
      background: url("/images/bg/line-r.png") 0 0;
      opacity: 0;
      @include tr;
    }

    &-title {
      color: $purple3;
      font-weight: 600;
      line-height: lh(16, 20.8);
      margin-right: 10px;
      @include tr;
    }

    &-svg {
      width: 13px;
      height: 13px;
      fill: $purple3;
      @include tr;
    }
  }

}

.feed {

  &__col {
    @include col;
    @include size(20);
    @include shift(2);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    border-radius: 102px;
    background: $red url("/images/bg/pattern-light.png") 0 0;
    color: $bg;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 44px;
    margin-bottom: 25px;
  }

  &__sub {
    font-size: 30px;
    font-weight: 600;
    line-height: lh(30, 42.19);
    max-width: 825px;
    text-align: center;
    margin-bottom: 40px;
  }

  &__row {
    width: 100%;
    margin-bottom: 30px;
  }

  &__field {
    @include col;
    @include size(12);
  }

  &__label {
    color: $text2;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 13px;
  }

  &__input {
    border-radius: 6px;
    border: 1px solid $grey1;
    width: 100%;
    color: $black2;
    font-size: 18px;
    padding: 22px 25px;
  }

  &__agree {
    margin-bottom: 40px;
  }

  &__submit{
    width: 343px;
    height: 68px;
    border-radius: 40px;
  }

}

.agree {
  display: flex;
  align-items: flex-start;

  &__input {
    display: none;

    &:checked + .agree__fake {
      background-color: $red;

      &:after {
        opacity: 1;
      }
    }
  }

  &__fake {
    min-width: 22px;
    width: 22px;
    height: 22px;
    border-radius: 2px;
    border: 1px solid $red;
    background-color: $bg;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 11px;
    @include tr;

    &:after {
      content: '';
      display: block;
      opacity: 0;
      width: 15px;
      height: 12px;
      background: url("/images/icons/check.svg") 0 0 no-repeat;
      @include tr;
    }
  }

  &__txt {
    color: $text2;
    font-size: 18px;
    line-height: lh(18,24.05);
  }

}

.red {
  color: $red;
}

.map{
  height: 300px;
  width: 100%;
  border: 10px solid $bg;
  border-top-left-radius: 50% 20px;
  border-top-right-radius: 50% 20px;
  border-bottom-left-radius: 50% 20px;
  border-bottom-right-radius: 50% 20px;
  overflow: hidden;
  background: $bg;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

  iframe{
    border-top-left-radius: 50% 16px;
    border-top-right-radius: 50% 16px;
    border-bottom-left-radius: 50% 16px;
    border-bottom-right-radius: 50% 16px;
    width: 100%;
    height: 100%;
    border: none;
  }
}

#gardient{
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.banner{
  background: url("/images/content/index/banner/bg.png") center 0 no-repeat;

  &__col{
    @include col;
    @include size(20);
    @include shift(2);
  }

  &__img{
    border-top-left-radius: 50% 25px;
    border-top-right-radius: 50% 25px;
    border-bottom-left-radius: 50% 25px;
    border-bottom-right-radius: 50% 25px;
    border: 10px solid $bg;
    overflow: hidden;
    background: $bg;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.2);

    &-img{
      border-top-left-radius: 50% 23px;
      border-top-right-radius: 50% 23px;
      border-bottom-left-radius: 50% 23px;
      border-bottom-right-radius: 50% 23px;
    }
  }

}

.wow{
  &__list {
    margin-right: -20px;
    margin-left: -20px;
    //background: url("/images/content/index/wow/bg.png") center center no-repeat;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &:nth-child(2) {
      .wow__item {
        &:nth-child(1) {
          padding-left: 55px;
        }

        &:nth-child(2) {
          align-self: stretch;
          padding-top: 30px;
          padding-bottom: 45px;
          display: flex;
          align-items: flex-end;
          flex-direction: column;
          justify-content: space-between;
        }

      }
    }
  }

  &__item {

    &-img {
      position: relative;
    }

    &-title {
      width: 700px;
      font-size: 46px;
      line-height: lh(46, 60.41);
      font-weight: 700;
      text-transform: uppercase;
      background: linear-gradient(to right, rgba(254, 91, 58, 1) 0%, rgba(143, 67, 254, 1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      border-width: 4px;
      border-style: solid;
      border-image: linear-gradient(to right, #fe5b3a 0%, #8f43fe 100%) 100% 1;
      position: relative;
      left: -10px;
      padding: 16px 0;
    }

  }

  &__link {
    width: 214px;
    height: 54px;

    position: absolute;
    bottom: 64px;
    left: 50%;
    margin-left: -107px;
  }
}