//variables
$vh: 1080;

@function rem($size) {
  $remSize: $size / $font-size;
  @return $remSize * 1rem;
}

@mixin fz($size) {
  font-size: $size;
  font-size: rem($size);
}

@function lh($size1, $size2) {
  $lh: $size2 / $size1;
  @return $lh;
}

@function vh($size) {
  @return $size/$vh *100*1vh;
}

@mixin content() {
  $mb: 17px;
  ul {
    margin-bottom: $mb;

    li {
      padding-left: 17px;
      position: relative;
      margin-bottom: $mb;
      line-height: lh(16,20.8);


      &:before {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        background-color: $red;
        border-radius: 50%;
        position: absolute;
        top: 6px;
        left: 0;
      }
    }
  }

  h1 {
    margin-bottom: $mb;
  }
  h2 {
    margin-bottom: $mb;
  }
  h3 {
    margin-bottom: $mb;
  }
  h4 {
    margin-bottom: 15px;
    color: $text2;
    font-weight: 700;
    text-transform: uppercase;
    line-height: lh(36,46.8);
  }
  h5 {
    margin-bottom: $mb;
  }
  h6 {
    margin-bottom: $mb;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: lh(16,21);
    margin-bottom: $mb;
  }
  a{
    display: inline-block;
    color: $purple3;
    font-weight: 600;
    position: relative;
    display: inline-block;
    line-height: 130%;
    padding-bottom: 3px;
    border-bottom: 3px dotted $purple3;
    @include tr;

    &:hover{
      color: $red;
      border-bottom-color: $red;
    }
  }

  @include headers;
}

@mixin headers() {
  h1 {
    font-size: 50px;
    font-weight: bold;
  }
  h2 {
    font-size: 46px;
    font-weight: bold;
  }
  h3 {
    font-size: 40px;
    font-weight: bold;
  }
  h4 {
    font-size: 36px;
    font-weight: bold;
  }
  h5 {
    font-size: 24px;
    font-weight: bold;
  }
  h6 {
    font-size: 1rem;
    font-weight: bold;
  }
}

@mixin tr(){
  transition: .3s;
}

@mixin op(){
  opacity: .7;
}

@mixin select(){
  .jq-selectbox {
    width: 100%;

    .placeholder {
      color: $black2;
    }

    &.opened{
      .jq-selectbox__select{
        border-radius: 6px 6px 0 0;
      }

      .jq-selectbox__trigger-arrow{
        transform: rotate(-180deg);
      }
    }
  }

  .jq-selectbox__select {
    height: 46px;
    border-radius: 6px;
    border: 1px solid $grey1;
    background: $bg;
    padding: 13px 21px;
    padding-right: 34px;

    color: $black2;
    font-size: 16px;
    font-weight: 400;
    //line-height: lh(16,17.81);
    //font-family: "Proxima Nova";
    box-shadow: none;
    font: 16px "Proxima Nova";
    text-shadow: none;
  }

  .jq-selectbox__trigger {
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .jq-selectbox__trigger-arrow {
    width: 13px;
    height: 7px;
    border: none;
    background: url("/images/icons/angle.svg") 0 0 no-repeat;
    position: static;
  }

  .jq-selectbox__dropdown{
    border: 1px solid $grey1;
    border-radius: 0 0 6px 6px;
    background-color: $bg;
    top: calc(100% - 1px) !important;
    margin: 0;
    box-shadow: none;
    padding: 10px 0;

    color: $black2;
    font-weight: 400;
    font: 16px "Proxima Nova";
    width: 100% !important;
  }

  .jq-selectbox li{
    padding: 10px 21px;
    white-space: normal;
    &:hover{
      background-color: rgba($purple5,.1);
      color: $black2;
    }
  }

  .jq-selectbox li.selected{
    background-color: rgba($purple5,.1);
    color: $black2;
  }
}