.arts {
  padding-bottom: 60px;
  @include lg-block {
    padding-bottom: 80px;
  }
  @include sm-block{
    padding-bottom: 60px;
  }


  &__top {
    @include sm-block {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    @include sm-block {
      margin-bottom: 17px;
    }

  }

  &__controls {
    @include sm-block {
      display: flex;
      margin-top: 0;
      width: 100%;
    }
  }

  &__sort {
    margin-right: 0;
    @include sm-block {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }

    &-title {
      @include lg-block {
        margin-right: 15px;
      }
      @include sm-block {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

    .jq-selectbox {
      width: 100%;

      .placeholder {
        color: $black2;
      }

      &.opened {
        .jq-selectbox__select {
          border-radius: 6px 6px 0 0;
        }

        .jq-selectbox__trigger-arrow {
          transform: rotate(-180deg);
        }
      }

      &.focused .jq-selectbox__select {
        border-color: $grey1;
      }
    }

    .jq-selectbox__select {
      height: 46px;
      border-radius: 6px;
      border: 1px solid $grey1;
      background: $bg;
      padding: 13px 21px;
      padding-right: 34px;

      color: $black2;
      font-size: 16px;
      font-weight: 400;
      //line-height: lh(16,17.81);
      //font-family: "Proxima Nova";
      box-shadow: none;
      font: 16px "Proxima Nova";
      text-shadow: none;
    }

    .jq-selectbox__trigger {
      border: none;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .jq-selectbox__trigger-arrow {
      width: 13px;
      height: 7px;
      border: none;
      background: url("/images/icons/angle.svg") 0 0 no-repeat;
      position: static;
    }

    .jq-selectbox__dropdown {
      border: 1px solid $grey1;
      border-radius: 0 0 6px 6px;
      background-color: $bg;
      top: calc(100% - 1px) !important;
      margin: 0;
      box-shadow: none;
      padding: 10px 0;

      color: $black2;
      font-weight: 400;
      font: 16px "Proxima Nova";
      width: 100% !important;
    }

    .jq-selectbox li {
      padding: 10px 21px;
      white-space: normal;

      &:hover {
        background-color: rgba($purple5, .1);
        color: $black2;
      }

    }

    .jq-selectbox li.selected {
      background-color: rgba($purple5, .1);
      color: $black2;
    }
  }

  &__select {
    width: 160px;
    @include sm-block{
      width: 100%;
    }
  }

  &__item {
    @include col;
    @include size(8);
    margin-bottom: 120px;
    @include size-lg(12);
    @include lg-block {
      margin-bottom: 35px;
    }
    @include size-sm(24);

    &:nth-child(2), &:nth-child(4), &:nth-child(5) {
      .aitem {

        &__img {
          height: 551px;
          @include lg-block {
            height: 297px;
          }
          @include sm-block{
            height: 251px;
          }
        }
      }
    }
  }

  &__pag {
    margin-top: -45px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 20;
    @include lg-block {
      margin-top: 0;
    }
  }

}

.aitem {


  &__img {
    height: 368px;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    @include lg-block {
      height: 297px;
    }
    @include sm-block{
      height: 251px;
    }

    &-img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__date {
    position: absolute;
    left: 0;
    top: 30px;
    padding-left: 10px;
    width: 127px;
    height: 40px;
    background-color: $bg;
    display: flex;
    align-items: center;
    color: $red;
    font-weight: 600;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    @include sm-block{
      width: 103px;
      height: 33px;
      border-top-right-radius: 17px;
      border-bottom-right-radius: 17px;
      background-color: $bg;
      font-size: 14px;
      padding-left: 7px;
    }
  }

  &__title {
    color: $text2;
    font-size: 24px;
    font-weight: 600;
    line-height: lh(24, 31.2);
    height: 66px;
    overflow: hidden;
    margin-bottom: 10px;
    @include sm-block{
      font-size: 18px;
      height: auto;
      margin-bottom: 14px;
    }
  }

  &__txt {
    margin-bottom: 15px;
  }

  &__link {
    color: $red;
    font-weight: 600;
    padding-bottom: 3px;
    border-bottom: 3px dotted $red;
    @include tr;

    &:hover {
      color: $purple3;
      border-color: $purple3;
    }
  }

}

.art {
  padding-bottom: 60px;
  @include lg-block{
    padding-bottom: 40px;
  }
  @include sm-block{
    padding-bottom: 20px;
  }

  &__top {
    margin-bottom: 0px;
    position: relative;
    z-index: 10;
  }

  &__bottom {
    background: url("/images/content/article/bg.jpg") bottom center no-repeat;
    padding-bottom: 40px;
    @include lg-block{
      background-size: contain;
      background-position: center bottom 70px;
    }
    @include lg-block{
      background-position: center bottom 100px;
    }
  }

  &__block {
    padding-top: 50px;
    @include lg-block{
      padding-top: 30px;
    }
    @include sm-block{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 20px;
    }
  }

  &__img {
    float: left;
    margin-right: 100px;
    padding-left: 60px;
    margin-top: -30px;
    @include lg-block{
      width: 191px;
      padding-left: 0;
      margin-right: 40px;
      margin-top: 0;
    }
    @include sm-block{
      order: 1;
      margin-right: 0;
    }
  }

  &__text {

  }

  &__txt{
    display: none;
    line-height: lh(16px,20.8px);

    @include lg-block{
      display: block;
      margin-top: 20px;
    }
    @include sm-block{
      order: 2;
      margin-top: 5px;
    }
  }

  &__or{
    &-1{
      @include lg-block{
        order: 1;
      }
    }
    &-2{
      @include lg-block{
        order: 2;
      }
    }
    &-3{
      @include lg-block{
        order: 3;
      }
    }
  }

  &__image {
    height: 475px;
    @include lg-block{
      height: 326px;
    }
    @include sm-block{
      height: 134px;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__nav {
    @include col;
    @include size(20);
    @include shift(2);
    margin-top: 600px;
    @include size-lg(24);
    @include shift-lg(0);
    @include lg-block{
      margin-top: 250px;
    }
    @include sm-block{
      margin-top: 120px;
    }
  }
}