.basket {

  &__main{
    margin-bottom: 220px;
    @include lg-block{
      margin-bottom: 80px;
    }
  }

  &__title {
    margin-bottom: 35px;
    @include lg-block{
      margin-bottom: 20px;
    }
  }

  &__left {
    @include col;
    @include size(18);
    @include size-lg(24);
    @include lg-block{
      margin-bottom: 30px;
    }
    @include size-sm(24);
    @include sm-block{
      margin-bottom: 0;
    }
  }

  &__right {
    @include col;
    @include size(6);
    @include size-lg(24);
    @include size-sm(24);
  }

  &__gifts{
    margin-bottom: 120px;
    @include lg-block{
      margin-bottom: 4px;
    }
  }
}

.btable {
  $w: 1017;

  &__head {
    border-radius: 102px;
    border: 1px solid $grey1;
    padding: 16px 0;
    @include lg-block{
      padding: 10px 0;
    }
    @include sm-block{
      display: none;
    }
  }

  &__col {
    @include col;

    &_1 {
      @include size(370/$w*24);
      @include lg-block{
          @include size(311/727*24);
      }
      @include size-sm(24);
      @include sm-block{
        margin-bottom: 8px;
      }
    }

    &_2 {
      @include size(185/$w*24);
      @include lg-block{
        @include size(131/727*24);
      }
      @include size-sm(24);
      @include sm-block{
        order: 2;
      }
    }

    &_3 {
      @include size(308/$w*24);
      @include lg-block{
        @include size(169/727*24);
      }
      @include size-sm(24);
      @include sm-block{
        order: 1;
        margin-bottom: 25px;
      }
    }

    &_4 {
      @include size(152/$w*24);
      @include lg-block{
        @include size(116/727*24);
      }
      @include sm-block{
        margin: 0;
        padding: 0;
        width: auto;
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
  }

  &__th {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    @include lg-block{
      font-size: 16px;
    }

    &_left {
      text-align: left;
      padding-left: 75px;
      @include lg-block{
        padding-left: 40px;
      }
    }

    &_right {
      padding-right: 56px;
      @include lg-block{
        padding: 0;
      }
    }
  }

  &__item {
    padding: 20px 0;
    border-bottom: 1px solid $grey1;
    @include lg-block{
      padding: 15px 0;
    }
    @include sm-block{
      border-radius: 12px;
      border: 1px solid $grey1;
      margin-bottom: 20px;
      position: relative;
      padding: 30px;
    }

    &-row{
      align-items: center;
    }
  }

  &__td {
    display: flex;
    align-items: center;
    justify-content: center;
    @include sm-block{
        flex-direction: column;
    }

    &_left {
      justify-content: flex-start;
    }


    &_right {
      padding-right: 56px;
      @include lg-block{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        padding-right: 0;
      }
    }
  }

  &__img {
    width: 185px;
    height: 120px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include lg-block{
      width: 133px;
      height: 87px;
      padding: 0 20px;
    }
    @include sm-block{
      width: 123px;
      height: 117px;
      padding: 0;
      margin-bottom: 15px;
    }
  }

  &__title {
    color: $text2;
    font-weight: 600;
    line-height: lh(16, 22.5);
    text-transform: uppercase;
    @include sm-block{
      text-align: center;
    }
  }

  &__prices{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include sm-block{
        flex-direction: row;
    }

  }

  &__price{
    margin-bottom: 5px;

    .price {
      font-size: 20px;
      text-transform: none;
      @include lg-block{
        font-size: 16px;
      }
      @include sm-block{
        margin-right: 10px;
      }
    }
  }

  &__oldprice{
    .price{
      font-size: 14px;
      text-transform: none;
    }
  }

  &__del{
    &-svg{
      width: 38px;
      height: 38px;
      fill: $grey1;

      @include lg-block{
        width: 28px;
        height: 28px;
      }
      @include sm-block{
        width: 33px;
        height: 32px;
      }
    }
  }

}

.bcount {
  position: relative;
  border-radius: 52px;
  padding: 1px;
  overflow: hidden;
  @include sm-block{
    width: 112px;
  }

  &:after{
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: linear-gradient(to right, #FE5B3A 0%, #8F43FE 100%);
    border-radius: 52px;
  }

  &__wrap {
    display: flex;
    align-items: center;
    background: $bg;
    border-radius: 52px;
    padding: 2px;
  }

  &__input{
    width: calc(100% - 74px);
    flex-grow: 1;
    text-align: center;
    opacity: 0.6;
    color: $black;
    font-size: 22px;
    font-weight: 400;
  }

  &__btn {
    min-width: 37px;
    width: 37px;
    height: 37px;
    box-shadow: 0 3px 5px rgba(122, 52, 170, 0.5);
    background-image: linear-gradient(90deg, #fe5b3a 0%, #8f43fe 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include lg-block{
      min-width: 27px;
      width: 27px;
      height: 27px;
    }

    &:hover{
      background: $red;
      box-shadow: none;
    }

    &-svg {
      width: 21px;
      height: 21px;
      fill: $bg;
      @include lg-block{
        width: 16px;
        height: 16px;
      }
    }
  }
}

.btotal {
  border-radius: 16px;
  border: 1px solid #ddd9e3;
  background-color: $bg;

  @include lg-block{
    display: flex;
    overflow: hidden;
  }
  @include sm-block{
    display: block;
  }

  &__top {
    padding: 25px 22px 35px 22px;
    border-bottom: 1px solid #ddd9e3;
    background-image: url("/images/bg/pattern-item.png");
    @include lg-block{
      width: 50%;
      border: none;
      border-right: 1px solid #ddd9e3;
      padding: 40px;
      display: flex;
      align-items: center;
    }
    @include sm-block{
      width: 100%;
      border: none;
      border-bottom: 1px solid #ddd9e3;
      padding: 25px 15px;
    }
  }

  &__promo{
    @include lg-block{
      width: 100%;
    }

    &-title{
      text-align: center;
      font-size: 22px;
      line-height: lh(22,28.6);
      margin-bottom: 18px;

      b{
        color: $red;
        font-weight: 700;
      }
    }

    &-input{
      width: 100%;
      border-radius: 6px;
      border: 1px solid $grey1;
      padding: 14px 20px;
      color: $black2;
      background: $bg;
    }
  }

  &__bottom {
    padding: 30px 22px;
    background-color: $beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include lg-block{
      width: 50%;
      border: none;
      padding: 30px 43px;
    }
    @include sm-block{
      width: 100%;
      padding: 30px 15px;
    }

    &-top{
      @include lg-block{
        margin-bottom: 15px;
      }
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px;
    text-align: center;
    @include lg-block{
      display: inline-flex;
      margin-bottom: 0;
    }
  }

  &__price{
    font-size: 30px;
    font-weight: 700;
    //text-transform: uppercase;
    color: $black;
    text-align: center;
    margin-bottom: 25px;

    background: linear-gradient(to right, #FE5B3A 0%, #8F43FE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include lg-block{
      font-size: 24px;
      display: inline-flex;
      margin-bottom: 0;
    }
  }

  &__buy {
    width: 100%;
    height: 60px;
    margin-bottom: 23px;
  }

  &__one{
    display: flex;
    align-items: center;
    border-bottom: 3px dotted $text2;
    padding-bottom: 2px;
    @include tr;

    &:hover{
      border-bottom-color: $red;

      .btotal__one{
        &-svg{
          fill: $red;
        }
        &-txt{
          color: $red;
        }
      }
    }

    &-svg{
      width: 13px;
      height: 13px;
      fill: $text2;
      margin-right: 10px;
      @include tr;
    }

    &-txt{
      color: $text2;
      font-weight: 600;
      text-transform: uppercase;
      @include tr;
    }
  }
}