.catalog {
  padding-bottom: 90px;
  background-position: center 0;
  background-repeat: no-repeat;

  &__main {
    margin-bottom: 80px;
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  &__controls {
    display: flex;
    align-items: center;
  }

  &__sort {
    margin-right: 40px;
  }

  &__types {
    display: flex;
  }

  &__type {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      .catalog__type-svg {
        fill: $red;
      }
    }

    &-svg {
      width: 18px;
      height: 18px;
      fill: #b4b4b4;
      @include tr;
    }
  }

  &__items {
    margin-bottom: 20px;

    &.list{
      .catalog__item{
        @include size(24);
        margin-bottom: 0;
      }
    }
  }


  &__item {
    @include col;
    @include size(6);
    margin-bottom: 20px;

    .item {
      height: 100%;
    }
  }

  &__filters {
    margin-bottom: 40px;
    padding: 30px;
    background: $beige;
    border-radius: 16px;
  }

  &__pag {
    display: flex;
    justify-content: center;
  }

  &__gifts{
    margin-bottom: 80px;
  }
}

.filters {

}

.fprice {
  position: relative;

  &.opened {
    .fprice__top {
      border-radius: 6px 6px 0 0;
    }

    .fprice__bottom {
      display: block;
    }

    .fprice__angle {
      transform: rotate(-180deg);
    }
  }

  &__top {
    border-radius: 6px;
    border: 1px solid $grey1;
    padding: 13px 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: $bg;
  }

  &__title {
    color: $black2;
  }

  &__angle {
    width: 13px;
    height: 7px;
    fill: $black2;
  }

  &__bottom {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% - 1px);
    border: 1px solid $grey1;
    background-color: $bg;
    border-radius: 0 0 6px 6px;
    padding: 20px;
    display: none;
  }
}

.filter {
  @include col;
  @include size(24/5);
  position: relative;
  z-index: 80;

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 12px;
    top: 50%;
    margin-top: -6px;
    left: calc(100% + 9px);
    background: url("/images/icons/seporate.png") 0 0;
  }

  &:last-child {
    &:after {
      display: none;
    }
  }

  @include select;


}

.range {

  &__fields {
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
  }

  &__label {
    margin-right: 15px;
    margin-left: 15px;
    width: calc(50% - 30px);
    text-align: center;
  }

  &__input {
    margin-top: 6px;
    width: 100%;
    height: 32px;
    border-radius: 86px;
    border: 1px solid $white;
    text-align: center;
    color: rgba($text, .8);
    font-size: 14px;
  }

  .irs-line {
    border-radius: 15px;
    background-color: #dadada;
  }

  .irs-bar {
    background-image: linear-gradient(90deg, #fe5b3a 0%, #8f43fe 100%);
  }

  .irs-handle {
    width: 23px;
    height: 23px;
    border: 6px solid #f75946;
    outline: 2px solid $bg;
    box-shadow: none;

    &.to {
      border: 6px solid $purple7;
    }
  }
}

@mixin item-title(){

  color: $text2;
  font-size: 22px;
  font-weight: 600;
  line-height: lh(22, 30.94);
  text-transform: uppercase;

}

.item {
  position: relative;
  display: block;

  &.list{
    .item__hidden,.item__visible{
      display: none;
    }

    &:hover{

      &:after {
        opacity: 0;
      }

    }

    .iteml {
      display: block;
    }
  }

  &_bdw {

  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: inherit;
    background-image: linear-gradient(113.58deg, #fe5b3a 0%, #8f43fe 100%);
    border-top-left-radius: 50% 20px;
    border-top-right-radius: 50% 20px;
    border-bottom-left-radius: 50% 20px;
    border-bottom-right-radius: 50% 20px;
    opacity: 0;
    @include tr;
  }

  &:hover {

    &:after {
      opacity: 1;
    }

    .item__visible {
      border: 1px solid transparent;
      z-index: 100;

      &:after {
        opacity: 1;
      }
    }

    .item__hidden {
      top: calc(100% - 60px);
      z-index: 90;
    }

    .item__control {
      border-color: $purple6;
    }



  }

  &__visible {
    display: flex;
    flex-direction: column;
    border: 1px solid $white;
    border-top-left-radius: 50% 20px;
    border-top-right-radius: 50% 20px;
    border-bottom-left-radius: 50% 20px;
    border-bottom-right-radius: 50% 20px;
    position: relative;
    z-index: 20;
    padding-top: 45px;
    padding-bottom: 40px;
    background: $bg;
    @include tr;
    background-clip: padding-box;
    overflow: hidden;
    height: 100%;

    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url("/images/bg/pattern-item.png") center 0;
      opacity: 0;
      @include tr;
    }
  }

  &__icon {
    position: absolute;
    z-index: 10;
    top: 14px;
    left: 10px;
  }

  &__controls {
    position: absolute;
    z-index: 10;
    top: 40px;
    right: 0;
    display: block;
  }

  &__control {
    width: 47px;
    height: 42px;
    border: 1px solid $white;
    background-color: $bg;
    border-radius: 50% 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 7px;
    margin-bottom: 8px;
    border-right: none;
    @include tr;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: $red;
      border-color: $red !important;

      .item__control-svg {
        fill: $bg;
      }
    }


    &-svg {
      width: 24px;
      height: 24px;
      fill: $grey1;
      @include tr;
    }
  }

  &__img {
    position: relative;
    z-index: 2;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    height: 215px;

    &-img {
      max-height: 100%;
    }
  }

  &__title {
    position: relative;
    z-index: 2;
    padding: 0 20px;
    text-align: center;
    margin-bottom: 10px;
    @include item-title;
  }

  &__prices {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: auto;
  }

  &__price {
    margin-right: 12px;
  }

  &__hidden {
    position: absolute;
    z-index: 10;
    top: 2px;
    left: 0;
    width: 100%;
    border-top-left-radius: 50% 20px;
    border-top-right-radius: 50% 20px;
    border-bottom-left-radius: 50% 20px;
    border-bottom-right-radius: 50% 20px;
    background-image: linear-gradient(113.58deg, #fe5b3a 0%, #8f43fe 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 80px;
    padding-bottom: 40px;
    box-shadow: 0 3px 0 #7e256b;
    @include tr;
  }

  &__buy {
    width: 100%;
    height: 54px;
    margin-bottom: 20px;

    &:hover {
      background-color: $bg;
      box-shadow: 0 3px 0 #AB9FB9, 0px 20px 9px -10px rgba($black, 0.6);

      .btn4__txt {
        color: $text2;
      }
    }

    &.btn4 {
      background-image: url("/images/bg/pattern-item.png");

      &__txt {
        font-size: 18px;
      }
    }
  }

  &__one {
    display: flex;
    align-items: center;
    position: relative;
    @include tr;

    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: 3px;
      background: url("/images/bg/line-w.png") 0 0;
      opacity: 1;
      @include tr;
    }

    &:before {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: 3px;
      background: url("/images/bg/line-y.png") 0 0;
      opacity: 0;
      @include tr;
    }

    &:hover {
      &:after {
        opacity: 0;
      }

      &:before {
        opacity: 1;
      }

      .item__one {
        &-svg {
          fill: #EFD063;
        }

        &-txt {
          color: #EFD063;
        }
      }
    }

    &-svg {
      width: 13px;
      height: 13px;
      fill: $bg;
      margin-right: 9px;
      @include tr;
    }

    &-txt {
      color: $bg;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      @include tr;
    }
  }

}

.iteml{
  display: none;
  padding: 20px 0;
  border-bottom: 1px solid $grey1;
  background: $bg;
  position: relative;
  z-index: 10;


  .row{
    align-items: center;
  }

  &__left{
    @include col;
    @include size(7);
    padding-left: 30px;
    display: flex;
    align-items: center;
  }

  &__img {
    height: 125px;
    margin-right: 25px;

    &-img{
      max-height: 100%;
    }
  }

  &__title{
    @include item-title;
    font-size: 16px;
  }

  &__center{
    @include col;
    @include size(4);
    display: flex;
  }

  &__prices{
    display: flex;
    flex-direction: column;
    align-items: center;

    .price{
      font-size: 20px;

      &_old{
        font-size: 14px;
      }
    }

  }

  &__price{
    margin-bottom: 5px;
  }

  &__controls{
    @include col;
    @include size(7);
    display: flex;
    justify-content: space-between;
  }

  &__control{
    display: flex;
    align-items: center;

    &:hover{
      .iteml__control{
        &-svg{
          fill: $red;
        }
        &-title{
          color: $red;
        }
      }
    }

    &-svg{
      width: 18px;
      height: 16px;
      fill: $text;
      margin-right: 10px;
      @include tr;
    }

    &-title {
      font-size: 16px;
      font-weight: 600;
      @include tr;
    }
  }

  &__right{
    @include col;
    @include size(6);
    display: flex;
    justify-content: flex-end;
  }

  &__buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__buy{
    width: 243px;
    height: 54px;
    margin-bottom: 20px;
  }

  &__one{
    display: flex;
    align-items: center;
    position: relative;
    @include tr;

    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: 3px;
      background: url("/images/bg/line-b.png") 0 0;
      opacity: 1;
      @include tr;
    }

    &:before {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: 3px;
      background: url("/images/bg/line-r.png") 0 0;
      opacity: 0;
      @include tr;
    }

    &:hover {
      &:after {
        opacity: 0;
      }

      &:before {
        opacity: 1;
      }

      .iteml__one {
        &-svg {
          fill: $red;
        }

        &-txt {
          color: $red;
        }
      }
    }

    &-svg {
      width: 13px;
      height: 13px;
      fill: $text2;
      margin-right: 9px;
      @include tr;
    }

    &-txt {
      color: $text2;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      @include tr;
    }

  }

}

.price {
  color: $red;
  font-size: 22px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;

  &_old {
    opacity: 0.6;
    color: $black2;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-decoration: line-through;
    margin-bottom: 2px;
  }

}

.csort {
  display: flex;
  align-items: center;

  &__title {
    color: $grey2;
    margin-right: 30px;
  }

  &__select {
    width: 282px;
    position: relative;
    z-index: 81;
    @include select;

    .jq-selectbox__select {
      border-radius: 0;
    }

    .jq-selectbox.opened .jq-selectbox__select {
      border-radius: 0;
    }

    .jq-selectbox__trigger {
      width: 21px;
    }

    .jq-selectbox__trigger-arrow {
      width: 0;
      height: 0;
      border-top: 5px solid $black3;
      border-right: 2.5px solid transparent;
      border-left: 2.5px solid transparent;

      background: none;
      position: static;
    }

  }

}

.pag {
  display: flex;
  align-items: center;

  &__svg {
    width: 12px;
    height: 21px;
    fill: $text;
    @include tr;
  }

  &__items {
    margin: 0 40px;
    display: flex;
  }

  &__item {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: 0;
    margin-right: 20px;
    font-size: 22px;

    &-val {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $grey1;
      border-radius: 50%;
      margin-right: 20px;
      background: $bg;
      @include tr;
    }

    &.active {
      background: linear-gradient(to right, rgba(254, 91, 58, 1) 0%, rgba(143, 67, 254, 1) 100%);
      padding: 3px;
      font-weight: 700;

      &:hover{
        border: none;
      }

      .pag__item-val{
        border-color: transparent;
      }
    }

    &:hover{
      border: 3px solid $grey1;
    }


    &:last-child {
      margin-right: 0;
    }
  }
}

