.notfound{
  background: url("/images/bg/404.jpg") 0 0 no-repeat;
  padding: 110px 0;
  text-align: center;
  @include lg-block{
    padding-top: 70px;
    padding-bottom: 90px;
  }
  @include sm-block{
    padding: 60px 0;
  }

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
    @include lg-block{
      margin-bottom: 40px;
    }
    @include sm-block{
      font-size: 22px;
      margin-bottom: 25px;
    }

    mark {
      color: $red;
      background-color: transparent;
    }

  }

  &__img{
    margin-bottom: 30px;
    @include sm-block{
      margin-bottom: 20px;
    }
  }

  &__txt{
    font-size: 24px;
    font-weight: 400;
    line-height: lh(24,26.72);
    max-width: 784px;
    margin-bottom: 40px;
    @include sm-block{
      font-size: 18px;
    }

    a{
      color: $red;
      font-weight: 600;
    }
  }

  &__btn{
    width: 315px;
    height: 54px;
    border-radius: 40px;
    @include sm-block{
      width: 100%;
    }
  }

}

