-
    var headerNav = [
        {
            title: 'О магазине',
            href: 'about.html'
        },
        {
            title: 'Доставка и оплата',
            href: 'delivery.html'
        },
        {
            title: 'Контакты',
            href: 'contacts.html'
        },
        {
            title: 'Новости',
            href: 'news.html'
        },
        {
            title: 'Статьи',
            href: 'news.html'
        }
    ];
-
    var socials = [
        {
            href: 'https://wa.me/79259841212',
            icon: 'whatsapp'
        },
        {
            href: 'tg://resolve?domain=username',
            icon: 'telegram'
        },
        {
            href: 'https://www.instagram.com/',
            icon: 'insta'
        }
    ];
-
    var menu = [
        {
            title: 'розы',
            submenu: ['Белые розы', 'Красные розы', 'Кремовые розы', 'Розы микс']
        },
        {
            title: 'герберы',
            submenu: ['Белые розы', 'Красные розы', 'Кремовые розы', 'Розы микс']
        },
        {
            title: 'орхидеи',
            submenu: ['Белые розы', 'Красные розы', 'Кремовые розы', 'Розы микс']
        },
        {
            title: 'пионы',
            submenu: ['Белые розы', 'Красные розы', 'Кремовые розы', 'Розы микс']
        }
    ];
-
    var headerControls = [
        {
            icon: 'loop',
            href: 'search.html'
        },
        {
            icon: 'heart',
            href: 'favorites.html',
            count: '5'
        },
        {
            icon: 'compare',
            href: 'compare.html'
        },
        {
            icon: 'basket',
            href: 'basket.html',
            count: '99'
        }
    ];
-
    var footerMenu = [
        {
            title: 'Каталог',
            list: [
                {
                    title: 'Розы',
                    href: 'catalog.html'
                },
                {
                    title: 'Пионы',
                    href: 'catalog.html'
                },
                {
                    title: 'Орхидеи',
                    href: 'catalog.html'
                },
                {
                    title: 'Герберы',
                    href: 'catalog.html'
                }
            ]
        },
        {
            title: 'Помощь и сервисы',
            list: [
                {
                    title: 'О магазине',
                    href: 'about.html'
                },
                {
                    title: 'Доставка и оплата',
                    href: 'delivery.html'
                },
                {
                    title: 'Контакты',
                    href: 'contacts.html'
                },
                {
                    title: 'Новости',
                    href: 'news.html'
                },
                {
                    title: 'Статьи',
                    href: 'news.html'
                }
            ]
        },


    ];
-
    var indexPop = [
        {
            title: 'настоящее чувство',
            icon: true,
            src: 'images/content/catalog/1.png'
        },
        {
            title: 'Магия чувств',
            icon: true,
            src: 'images/content/catalog/2.png'
        },
        {
            title: 'Люкс-300',
            src: 'images/content/catalog/3.png'
        },
        {
            title: 'Творческий микс ',
            src: 'images/content/catalog/4.png'
        },
        {
            title: 'настоящее чувство',
            src: 'images/content/catalog/5.png'
        },
        {
            title: 'Люкс-300',
            src: 'images/content/catalog/6.png'
        },
        {
            title: 'настоящее чувство',
            icon: true,
            src: 'images/content/catalog/7.png'
        },
        {
            title: 'Творческий микс ',
            src: 'images/content/catalog/8.png'
        },
        {
            title: 'настоящее чувство',
            src: 'images/content/catalog/9.png'
        },
        {
            title: 'настоящее чувство',
            icon: true,
            src: 'images/content/catalog/10.png'
        },
        {
            title: 'Творческий микс ',
            src: 'images/content/catalog/11.png'
        },
        {
            title: 'Люкс-300',
            src: 'images/content/catalog/12.png'
        },
        {
            title: 'Творческий микс ',
            src: 'images/content/catalog/13.png'
        },
        {
            title: 'настоящее чувство',
            src: 'images/content/catalog/14.png'
        },
        {
            title: 'Люкс-300',
            src: 'images/content/catalog/15.png'
        },
        {
            title: 'настоящее чувство',
            icon: true,
            src: 'images/content/catalog/16.png'
        }
    ];
-
    var indexGifts = [
        {
            title: 'Люкс-300',
            src: 'images/content/slider/1.png'
        },
        {
            title: 'настоящее чувство',
            src: 'images/content/slider/2.png'
        },
        {
            title: 'Люкс-300',
            src: 'images/content/slider/3.png'
        },
        {
            title: 'настоящее чувство',
            src: 'images/content/slider/4.png'
        },
        {
            title: 'Люкс-300',
            src: 'images/content/slider/1.png'
        },
        {
            title: 'настоящее чувство',
            src: 'images/content/slider/2.png'
        },
        {
            title: 'Люкс-300',
            src: 'images/content/slider/3.png'
        },
        {
            title: 'настоящее чувство',
            src: 'images/content/slider/4.png'
        },

    ];