-
    var headerNav = [
        {
            title: 'О магазине',
            href: 'about.html'
        },
        {
            title: 'Доставка и оплата',
            href: 'delivery.html'
        },
        {
            title: 'Контакты',
            href: 'contacts.html'
        },
        {
            title: 'Новости',
            href: 'news.html'
        },
        {
            title: 'Статьи',
            href: 'articles.html'
        }
    ];
-
    var socials = [
        {
            href: 'https://wa.me/79259841212',
            icon: 'whatsapp'
        },
        {
            href: 'tg://resolve?domain=username',
            icon: 'telegram'
        },
        {
            href: 'https://www.instagram.com/',
            icon: 'insta'
        }
    ];
-
    var msocials = [
    {
    href: 'https://wa.me/79259841212',
    icon: 'whatsapp'
    },
    {
    href: 'tg://resolve?domain=username',
    icon: 'telegram'
    },
    {
    href: 'https://www.instagram.com/',
    icon: 'insta-w'
    }
    ];
-
    var menu = [
        {
            title: 'розы',
            submenu: ['Белые розы', 'Красные розы', 'Кремовые розы', 'Розы микс']
        },
        {
            title: 'герберы',
            submenu: ['Белые розы', 'Красные розы', 'Кремовые розы', 'Розы микс']
        },
        {
            title: 'орхидеи',
            submenu: ['Белые розы', 'Красные розы', 'Кремовые розы', 'Розы микс']
        },
        {
            title: 'пионы',
            submenu: ['Белые розы', 'Красные розы', 'Кремовые розы', 'Розы микс']
        }
    ];
-
    var headerControls = [
        {
            icon: 'loop',
            href: 'search.html'
        },
        {
            icon: 'heart',
            href: 'favorites.html',
            count: '5'
        },
        {
            icon: 'compare',
            href: 'compare.html'
        },
        {
            icon: 'basket',
            href: 'basket.html',
            count: '99'
        }
    ];
-
    var footerMenu = [
        {
            title: 'Каталог',
            list: [
                {
                    title: 'Розы',
                    href: 'catalog.html'
                },
                {
                    title: 'Пионы',
                    href: 'catalog.html'
                },
                {
                    title: 'Орхидеи',
                    href: 'catalog.html'
                },
                {
                    title: 'Герберы',
                    href: 'catalog.html'
                }
            ]
        },
        {
            title: 'Помощь и сервисы',
            list: [
                {
                    title: 'О магазине',
                    href: 'about.html'
                },
                {
                    title: 'Доставка и оплата',
                    href: 'delivery.html'
                },
                {
                    title: 'Контакты',
                    href: 'contacts.html'
                },
                {
                    title: 'Новости',
                    href: 'news.html'
                },
                {
                    title: 'Статьи',
                    href: 'articles.html'
                }
            ]
        },


    ];
-
    var indexPop = [
        {
            title: 'настоящее чувство',
            icon: true,
            src: 'images/content/catalog/1.png'
        },
        {
            title: 'Магия чувств',
            icon: true,
            src: 'images/content/catalog/2.png'
        },
        {
            title: 'Люкс-300',
            src: 'images/content/catalog/3.png'
        },
        {
            title: 'Творческий микс ',
            src: 'images/content/catalog/4.png'
        },
        {
            title: 'настоящее чувство',
            src: 'images/content/catalog/5.png'
        },
        {
            title: 'Люкс-300',
            src: 'images/content/catalog/6.png'
        },
        {
            title: 'настоящее чувство',
            icon: true,
            src: 'images/content/catalog/7.png'
        },
        {
            title: 'Творческий микс ',
            src: 'images/content/catalog/8.png'
        },
        {
            title: 'настоящее чувство',
            src: 'images/content/catalog/9.png'
        },
        {
            title: 'настоящее чувство',
            icon: true,
            src: 'images/content/catalog/10.png'
        },
        {
            title: 'Творческий микс ',
            src: 'images/content/catalog/11.png'
        },
        {
            title: 'Люкс-300',
            src: 'images/content/catalog/12.png'
        },
        {
            title: 'Творческий микс ',
            src: 'images/content/catalog/13.png'
        },
        {
            title: 'настоящее чувство',
            src: 'images/content/catalog/14.png'
        },
        {
            title: 'Люкс-300',
            src: 'images/content/catalog/15.png'
        },
        {
            title: 'настоящее чувство',
            icon: true,
            src: 'images/content/catalog/16.png'
        }
    ];
-
    var indexGifts = [
        {
            title: 'Люкс-300',
            src: 'images/content/slider/1.png'
        },
        {
            title: 'настоящее чувство',
            src: 'images/content/slider/2.png'
        },
        {
            title: 'Люкс-300',
            src: 'images/content/slider/3.png'
        },
        {
            title: 'настоящее чувство',
            src: 'images/content/slider/4.png'
        },
        {
            title: 'Люкс-300',
            src: 'images/content/slider/1.png'
        },
        {
            title: 'настоящее чувство',
            src: 'images/content/slider/2.png'
        },
        {
            title: 'Люкс-300',
            src: 'images/content/slider/3.png'
        },
        {
            title: 'настоящее чувство',
            src: 'images/content/slider/4.png'
        },

    ];
-
    var ibottom = [
        {
            title: {
                val: 'Новости',
                cls: 'red'
            },
            list: [
                {
                    title: 'День влюбленных, подарки любимым!',
                    src: 'images/content/index/bottom/1.jpg'
                },
                {
                    title: 'Как продлить свежесть букета?',
                    src: 'images/content/index/bottom/2.jpg'
                },

            ],
            link: 'Смотреть все новости'
        },
        {
            title: {
                val: 'Статьи',
                cls: 'white'
            },
            list: [
                {
                    title: 'Важность оформления букета',
                    src: 'images/content/index/bottom/3.jpg'
                },
                {
                    title: 'Какие цветы дарить при помолвке',
                    src: 'images/content/index/bottom/4.jpg'
                },

            ],
            link: 'Смотреть все статьи'
        },


    ];
-
    var productPrices = [
        {
            title: '«Премиум»',
            count: '(50 роз)',
            price: '2 295 руб.',
            active: true
        },
        {
            title: '«Средний»',
            count: '(35 роз)',
            price: '1 800 руб.'
        },
        {
            title: '«Меньше»',
            count: '(25 роз)',
            price: '1 800 руб.'
        },

    ];
-
    var favorites = [
        {
            src: 'images/content/catalog/4.png',
            status: {
                txt: 'Есть в наличии',
                dopClass: ''
            }
        },
        {
            src: 'images/content/catalog/3.png',
            status: {
                txt: 'Нет в наличии',
                dopClass: 'disabled'
            }
        },
        {
            src: 'images/content/catalog/2.png',
            status: {
                txt: 'Есть в наличии',
                dopClass: ''
            }
        },
        {
            src: 'images/content/catalog/1.png',
            status: {
                txt: 'Есть в наличии',
                dopClass: ''
            }
        }
    ];
-
    var compareItems = [
        {
            status: {
                txt: 'Есть в наличии',
                dopClass: ''
            },
            src: 'images/content/catalog/4.png',
            id: '1'
        },
        {
            status: {
                txt: 'Есть в наличии',
                dopClass: ''
            },
            src: 'images/content/catalog/3.png',
            id: '2'
        },
        {
            status: {
                txt: 'Нет в наличии',
                dopClass: 'disabled'
            },
            src: 'images/content/catalog/2.png',
            id: '3'
        },
        {
            status: {
                txt: 'Есть в наличии',
                dopClass: ''
            },
            src: 'images/content/catalog/4.png',
            id: '4'
        },
        {
            status: {
                txt: 'Есть в наличии',
                dopClass: ''
            },
            src: 'images/content/catalog/9.png',
            id: '5'
        },
        {
            status: {
                txt: 'Есть в наличии',
                dopClass: ''
            },
            src: 'images/content/catalog/1.png',
            id: '6'
        },
        {
            status: {
                txt: 'Есть в наличии',
                dopClass: ''
            },
            src: 'images/content/catalog/4.png',
            id: '7'
        },
        {
            status: {
                txt: 'Есть в наличии',
                dopClass: ''
            },
            src: 'images/content/catalog/6.png',
            id: '8'
        },
        {
            status: {
                txt: 'Есть в наличии',
                dopClass: ''
            },
            src: 'images/content/catalog/1.png',
            id: '9'
        },
        {
            status: {
                txt: 'Есть в наличии',
                dopClass: ''
            },
            src: 'images/content/catalog/5.png',
            id: '10'
        },
        {
            status: {
                txt: 'Есть в наличии',
                dopClass: ''
            },
            src: 'images/content/catalog/9.png',
            id: '11'
        },
        {
            status: {
                txt: 'Есть в наличии',
                dopClass: ''
            },
            src: 'images/content/catalog/13.png',
            id: '12'
        },

    ];
-
    var newsList = [
        {
            title: 'День влюбленных, подарки любимым!',
            date: '25 мая',
        },
        {
            title: 'Мастер-класс из желтых хризонтем',
            date: '2 июня',
            dopClass: 'top'
        },
        {
            title: '10 самых ярких впечатлений',
            date: '12 июня',
        },
        {
            title: 'День влюбленных, подарки любимым!',
            date: '25 мая',
        },
        {
            title: 'Новые поступления подарков для любимых',
            date: '12 июня',
            dopClass: 'top'
        },
        {
            title: '10 самых ярких впечатлений',
            date: '12 июня',
        }
    ];
-
    var artsList = [
        {
            title: 'Букет 101 роза. Или миллион алых роз в миниатюре.',
            txt: 'Значение цвета роз красных означает настоящую, страстную любовь и желание. Многим известно, что запах розовых и красных роз удивителен.'
        },
         {
            title: 'Цветы в стеклянной коробке',
            txt: 'Значение цвета роз красных означает настоящую, страстную любовь и желание. Многим известно, что запах розовых и красных роз удивителен.'
        },
         {
            title: 'Свадебный букет. Как выбрать используя 3 простых правила.',
            txt: 'Значение цвета роз красных означает настоящую, страстную любовь и желание. Многим известно, что запах розовых и красных роз удивителен.'
        },
         {
            title: 'Цветы в стеклянной коробке',
            txt: 'Значение цвета роз красных означает настоящую, страстную любовь и желание. Многим известно, что запах розовых и красных роз удивителен.'
        },
         {
            title: 'Свадебный букет. Как выбрать используя 3 простых правила.',
            txt: 'Значение цвета роз красных означает настоящую, страстную любовь и желание. Многим известно, что запах розовых и красных роз удивителен.'
        },
         {
            title: 'Цветы в стеклянной коробке',
            txt: 'Значение цвета роз красных означает настоящую, страстную любовь и желание. Многим известно, что запах розовых и красных роз удивителен.'
        }
    ];
-
    var contactsList = [
        {
            cls: 'left',
            list: [
                {
                    icon: 'phone',
                    val: '8 (800) 984-12-12',
                    href: 'tel:8(800)984-12-12'
                },
                {
                    icon: 'email',
                    val: 'flowers@gmail.com',
                    href: 'mailto:flowers@gmail.com',
                    dopClass: 'email'
                }
            ]
        },
        {
            cls: 'right',
            list: [
                {
                    icon: 'map',
                    val: 'г. Москва, ул.2-ая Прядильная, д.1',
                    dopClass: 'light'
                },
                {
                    icon: 'clock',
                    val: 'пн-вс: 9:00-18-00',
                    dopClass: 'light'
                }
            ]
        }
    ];

-
    var deliveryList = [
        {
            src: 'images/content/delivery/1.png',
            title: 'Заказы принимаются нашими менеджерами с 9:00 до 21:00 ежедневно, без выходных.'
        },
        {
            src: 'images/content/delivery/2.png',
            title: '<i>Время доставки заказа: 3 часа*</i> с момента оформления заказа на нашем сайте.'
        },
        {
            src: 'images/content/delivery/3.png',
            title: 'Срочная доставка возможна (уточните возможность у менеджера!)'
        }
    ];
-
    var dtable = {
        head: ['Сумма заказа','Доставка внутри МКАДа','Доставка за МКАД'],
        body: [
            ['Заказ до <i>3500 рублей</i>','390 руб','от 500 рублей (точную сумму уточнить у менеджера)'],
            ['Заказ свыше <i>3500 рублей</i>','Бесплатно','от 500 рублей (точную сумму уточнить у менеджера)']
        ]
    };
-
    var dbannerList = [
        'Оплата картой - курьеру или в магазине.',
        'Оплата курьеру транспортной компании - при получении.',
        'Оплата по счету для физических и юридических лиц.'
    ];
-
    var mcontrols = [
        {
            icon: 'basket',
            href: 'basket.html',
            count: 99,
            title: 'Корзина',
            cls: 'mcontrol_m'
        },
        {
            icon: 'heart',
            href: 'favorites.html',
            title: 'Избранное',
            count: 5
        },
        {
            icon: 'compare',
            href: 'compare.html',
            title: 'Сравнение'
        }
    ];
-
    var mmenuList = [
        {
        title: 'О магазине',
        href: 'about.html'
        },
        {
        title: 'Доставка и оплата',
        href: 'delivery.html'
        },
        {
        title: 'Контакты',
        href: 'contacts.html'
        },
        {
        title: 'Новости',
        href: 'news.html'
        },
        {
        title: 'Статьи',
        href: 'articles.html'
        }
    ];
