-
    var headerNav = [
        {
            title: 'О магазине',
            href: 'about.html'
        },
        {
            title: 'Доставка и оплата',
            href: 'delivery.html'
        },
        {
            title: 'Контакты',
            href: 'contacts.html'
        },
        {
            title: 'Новости',
            href: 'news.html'
        },
        {
            title: 'Статьи',
            href: 'news.html'
        }
    ];
-
    var socials = [
        {
            href: 'https://wa.me/79259841212',
            icon: 'whatsapp'
        },
        {
            href: 'tg://resolve?domain=username',
            icon: 'telegram'
        },
        {
            href: 'https://www.instagram.com/',
            icon: 'insta'
        }
    ];
-
    var menu = [
        {
            title: 'розы',
            submenu: ['Белые розы', 'Красные розы', 'Кремовые розы', 'Розы микс']
        },
        {
            title: 'герберы',
            submenu: ['Белые розы', 'Красные розы', 'Кремовые розы', 'Розы микс']
        },
        {
            title: 'орхидеи',
            submenu: ['Белые розы', 'Красные розы', 'Кремовые розы', 'Розы микс']
        },
        {
            title: 'пионы',
            submenu: ['Белые розы', 'Красные розы', 'Кремовые розы', 'Розы микс']
        }
    ];
-
    var headerControls = [
        {
            icon: 'loop',
            href: 'search.html'
        },
        {
            icon: 'heart',
            href: 'favorites.html',
            count: '5'
        },
        {
            icon: 'compare',
            href: 'compare.html'
        },
        {
            icon: 'basket',
            href: 'basket.html',
            count: '99'
        }
    ];
-
    var footerMenu = [
        {
            title: 'Каталог',
            list: [
                {
                    title: 'Розы',
                    href: 'catalog.html'
                },
                {
                    title: 'Пионы',
                    href: 'catalog.html'
                },
                {
                    title: 'Орхидеи',
                    href: 'catalog.html'
                },
                {
                    title: 'Герберы',
                    href: 'catalog.html'
                }
            ]
        },
        {
            title: 'Помощь и сервисы',
            list: [
                {
                    title: 'О магазине',
                    href: 'about.html'
                },
                {
                    title: 'Доставка и оплата',
                    href: 'delivery.html'
                },
                {
                    title: 'Контакты',
                    href: 'contacts.html'
                },
                {
                    title: 'Новости',
                    href: 'news.html'
                },
                {
                    title: 'Статьи',
                    href: 'news.html'
                }
            ]
        },


    ];